<li>
	<%= user.name %>
	<span class="float-sm-right" style= "clear: both;" >
	<%= link_to '<i class="material-icons", style="font-size: 24px; color: #2f4858">perm_contact_calendar</i>'.html_safe, user, style: "padding-right: 10px", target: "_self", title:"View Doctor" %>
	<% if current_user.admin? %>
			<%= link_to '<i class="material-icons", style="font-size: 24px; color: #da5530">edit</i>'.html_safe, edit_user_path(user), style: "padding-left: 10px; padding-right: 10px", target: "_self", title:"Edit Doctor" %>
			<%= link_to '<i class="material-icons", style="font-size: 24px; color: #ff0000">delete_forever</i>'.html_safe, user, method: :delete, data: {confirm: "Are you sure?"}, target: "_self", title:"Delete Doctor" %>
	<% end  %>
	</span>
</li>