<div class="col-md-10">
      <div class="card">
            <div class="card-header card-header-primary">
                  <h4 class="card-title">User Profile</h4>
                  <p class="card-category">Fill-out completely</p>
            </div>
            <div class="card-body">
                  <%= form_for (@user) do |f| %>
                        <div clas="row">
                              <div class="col-md-12">
                                    <%= render 'shared/error_messages', object: f.object %>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6 form-group">
                                    <%= f.label :name, class: "bmd-label-floating"  %>
                                    <%= f.text_field :name, class: "form-control" %>
                              </div>
                              <div class="col-md-6 form-group">
                                    <%= f.label :email, class: "bmd-label-floating" %>
                                    <%= f.email_field :email, class: "form-control" %>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6 form-group">
                                    <%= f.label :contact, class: "bmd-label-floating" %>
                                    <%= f.text_field :contact, class: "form-control" %>
                              </div>
                              <div class="col-md-6 form-group">
                                    <%= f.label :address, class: "bmd-label-floating" %>
                                    <%= f.text_field :address, class: "form-control" %>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6 form-group">
                                    <%= f.label :password, class: "bmd-label-floating" %>
                                    <%= f.password_field :password, class: "form-control" %>
                              </div>
                              <div class="col-md-6 form-group">
                                    <%= f.label :password_confirmation, class: "bmd-label-floating" %>
                                    <%= f.password_field :password_confirmation, class:  "form-control" %>
                              </div>
                        </div>
                        <%= f.submit "Create Account", class: "btn btn-primary" %>
                  <% end %>
            </div>
      </div>
</div>