<div class="col-md-10">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">User's profile</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<%= gravatar_for @user %>
				</div>
				<div class="col-md-10">
					<table class="table">
						<tbody>
						<tr scope="row">
							<td colspan="2"><h3><%= @user.name %></h3></td>
						</tr>
						<tr scope="row">
							<td>Email</td>
							<td><%= @user.email %></td>
						</tr>
						<tr scope="row">
							<td>Contact</td>
							<td><%= @user.contact %></td>
						</tr>
						<tr scope="row">
							<td>Address</td>
							<td><%= @user.address %></td>
						</tr>
						</tbody>
					</table>

				</div>

			</div>
			<div class="row">
				<div class="col-md-10 offset-2">
					<% if correct_user? || current_user.admin? %>
						<%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
					<% end %>
					<% if current_user.admin? %>
						<%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"  %>
					<% end %>

				</div>
			</div>

		</div>
	</div>
</div>
