
<div class="col-md-10">
	<%= link_to "Add Specialty", new_field_path, class: "btn btn-primary", target: "_self" %>
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-title">Specialty</h4>
			<p class="card-category">&nbsp;</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<ul  class="horizontal-display">
						<%= render @fields %>
					</ul>
				</div>
			</div>

		</div>
	</div><!-- card -->
</div><!-- col-md-10 -->
