<div class="col-md-10">
      <div class="card">
            <div class="card-header card-header-primary">
                  <h4 class="card-title"><%= @field.area %></h4>
                  <p class="card-category"><h5><%= pluralize(@field.doctors.count, "Doctor")%> found</h5></p>
            </div>
            <div class="card-body">
                  <div class="row">
                        <div class="col-md-12">
                              <% if @field.doctors.any? %>
                                    <ul class="horizontal-display">
                                          <% @field.doctors.each do |doctor| %>
                                                <%= render doctor %>
                                          <% end %>
                                    </ul>
                              <% else %>
                                    <div class="alert alert-warning text-center">
                                          <h2>No doctors available</h2>
                                    </div>
                              <% end %>
                        </div>
                  </div>
          </div>
      </div>

</div>
