<%= form_with(model: gibe, local: true) do |form| %>
  <% if gibe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gibe.errors.count, "error") %> prohibited this gibe from being saved:</h2>

      <ul>
        <% gibe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
