<p id="notice"><%= notice %></p>

<h1>Gibes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gibes.each do |gibe| %>
      <tr>
        <td><%= gibe.name %></td>
        <td><%= gibe.address %></td>
        <td><%= link_to 'Show', gibe %></td>
        <td><%= link_to 'Edit', edit_gibe_path(gibe) %></td>
        <td><%= link_to 'Destroy', gibe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gibe', new_gibe_path %>
